{% extends "base_content_narrow.html" %}

{% block head %}
	{% include "Portal/snippets/head.html" with pageName=site_language.DetLabelContributors%}
{% endblock head%}

{%block content %}
	<div id="content" class="content clearfix">
		{% include "Portal/snippets/navigation.html" with pageName="contributors"%}
		<div class="clearfix">
				<h1>{{ site_language.DetLabelContributors }}</h1>
		</div>
		<div class="clearfix">
		{% if contribute_display == "checkbox" %}
			<div class="left50">
				<div class="unbulletedList">
					<form method="get" action="results">
                        <fieldset class="undecorated">
							<legend>{{ site_language.DetLabelContributors }}</legend>
						<ul>
							{{ facet_list|safe }}
						</ul>
                            </fieldset>
						<br />
						<input value="{{ site_language.SearchSubmit }}" type="submit">
						<input value="{{ site_language.SearchReset }}" type="reset">
					</form>
				</div>
			</div>
		{% elif contribute_display == "plain_list" %}
			<div class="contributorCloud">
				<ul>
				{{ facet_list|safe }}
				</ul>
			</div>
		{% endif %}
		</div>

	</div>
{%endblock content%}
