
<div class="content"> 	
	<h1>Fonctions</h1>
	<h2>OurOntario.ca &ndash; &#171;LA&#187; recherche, à travers les collections numérisées et les sites Internet de l’Ontario… sans parler des outils Web que nous avons ajoutés pour vous faciliter encore davantage la tâche!</h2>
	<p>&#160;</p>
</div>    
<div class="content1"> 		
	<div class="left40">              
		<div class="icon_holder">&#160;</div>
		
		<h3>Visuellement saisissant!</h3>   
	</div>
	<div class="right40">
		<p>&#160;</p> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_ge-logo.png" width="65" height="59" alt="Google Earth" /></div>
		<h2>Visualisez les résultats dans Google Earth</h2>     
		<p>Il est facile de visualiser vos résultats de recherche dans Google Earth, sous forme de graphiques dans l’espace et en temps réel. Où se cachent vos résultats?<a href="http://www.ourontario.ca/kml.html"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="help with KML" border="0" align="top" id="Image1" onmouseover="MM_swapImage('Image1','','http://graphics.ourontario.ca/qmark3.gif',1)" onmouseout="MM_swapImgRestore()" /></a></p><p>&#160;</p>			
	</div>			
	<div class="left40"> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_cooliris.gif" width="85" height="75" alt="Cooliris logo" /></div>
		
		<h2>Cooliris &ndash; exploration visuelle</h2>
		<p>Visualisez les résultats de recherche dans Cooliris, un mur à trois dimensions qui vous offre un nouveau moyen de chercher et de visualiser des milliers d'images.<a href="http://www.cooliris.com/support/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="help with Cool Iris" border="0" align="top" id="Image2" onmouseover="MM_swapImage('Image2','','http://graphics.ourontario.ca/qmark3.gif',2)" onmouseout="MM_swapImgRestore()" /></a></p> 
		<p>&#160;</p>			
	</div>
	<div class="right40"> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_mediastream.gif" width="85" height="71" alt="Flock stream" /></div>
		<h2>Flock : un lecteur de services médias</h2>
		<p>MediaRSS est une extension média à l'approche du fil RSS. Visualisez-le dans sa version naturelle dans Flock (Windows et Mac).<a href="http://www.flock.com/tour/features.php"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="FLOCK's features" border="0" align="top" id="Image3" onmouseover="MM_swapImage('Image3','','http://graphics.ourontario.ca/qmark3.gif',3)" onmouseout="MM_swapImgRestore()" /></a></p>
		
		<p>&#160;</p>			
	</div>	
</div>
<p>&#160;</p>
<div class="clearfix">&#160;</div>
<p>&#160;</p>

<div class="content2"> 				
	<div class="left40"> 
		<div class="icon_holder">&#160;</div>
		<h3>Très utile!</h3> 
	</div>
	<div class="right40">
		
		<p>&#160;</p> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_social.gif" width="90" height="92" alt="Social tagging icon" /></div>
		<h2>Réseautage social</h2> 
		<p>Connexion active instantanée et liaison par mots clés à un vaste choix de sites de réseautage social et de partage de signets comme Digg, Delicious, Facebook, Twitter et d'autres. Partagez-nous!  <a href="aide#social"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Réseautage social" border="0" align="top" id="Image4" onmouseover="MM_swapImage('Image4','','http://graphics.ourontario.ca/qmark3.gif',4)" onmouseout="MM_swapImgRestore()" /></a> </p>
		<p>&#160;</p>
	</div>					
	<div class="left40"> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_zotero.gif" width="90" height="90" alt="Zotero citation tool" /></div>
		<h2>Vous faites de la recherche? Gérez vos citations avec l’aide de Zotero</h2>
		
		<p>&#171;L'outil de recherche de la prochaine génération – votre assistant de recherche personnel à l'intérieur de votre fureteur. Repérer une citation, la sauvegarder, la classifier, l’interroger, la citer n’a jamais été aussi facile. Adieu les fiches de 3 sur 5 po, bonjour Zotero!&#187; La gestion de citations à l’aide d’un API + zotero vous donne accès à des fichiers standardisés de métadonnées en MODS ou Dublin Core et travaille dans le même environnement que vous… sous Windows, Mac ou Linux. <a href="http://www.zotero.org/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="FLOCK's features" border="0" align="top" id="Image6" onmouseover="MM_swapImage('Image6','','http://graphics.ourontario.ca/qmark3.gif',6)" onmouseout="MM_swapImgRestore()" /></a></p>			
		<p>&#160;</p>	
	</div>	
	<div class="right40"> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_opensearch.gif" width="90" height="93" alt="Opensearch" /></div>
		<h2>&#171;OurOntario.ca&#187; devient &#171;Votre recherche&#187; dans la barre de navigation</h2>
		<p>Le plugiciel du moteur de recherche de découverte automatique tourne sur la plupart des navigateurs modernes (Firefox, Internet Explorer, Chrome). Une recherche directe depuis la barre du navigateur est maintenant à votre portée. <a href="http://www.opensearch.org/Documentation/Frequently_asked_questions"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="OpenSearch Engine" border="0" align="top" id="Image5" onmouseover="MM_swapImage('Image5','','http://graphics.ourontario.ca/qmark3.gif',5)" onmouseout="MM_swapImgRestore()" /></a></p>			
		<p>&#160;</p>
	</div>
	
	
</div>	

<p>&#160;</p>
<div class="clearfix">&#160;</div>
<p>&#160;</p>

<div class="content3"> 			
	<div class="left40"> 
		<div class="icon_holder">&#160;</div>
		<h3>Creusez un peu plus</h3> 
	</div>
	<div class="right40"> 
		<p>&#160;</p> 
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_searchwidget.gif" width="95" height="95" alt="Search widget" /></div>
		<h2>Copiez-collez quelques lignes de code</h2>
		
		<p>Apportez le <b>gadget logiciel</b> d'OurOntario.ca partout où vous allez. Saisissez le gadget logiciel de notre site web Our Ontario <a href="http://www.ourontario.ca/demo/gadgetslogiciels.html">ici</a>. &#171;Copiez&#187; le code fourni et vous pourrez &#171;coller&#187; le gadget logiciel dans votre page Facebook, votre site Web institutionnel, votre blogue ou tout espace social.<a href="aide#widgets"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Search Widget" border="0" align="top" id="Image7" onmouseover="MM_swapImage('Image7','','http://graphics.ourontario.ca/qmark3.gif',7)" onmouseout="MM_swapImgRestore()" /></a></p>
		<p>&#160;</p>
	</div>	
	<div class="left40"> 		
		<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_microformats.gif" width="95" height="95" alt="Microfomat feature" /></div>
		
		<h2>Affichez les Microformats</h2>
		<p>&#171;Les <a href="http://microformats.org/about/">Microformats</a> sont un ensemble de formats de données libres et simples construits à partir de normes bien établies et largement répandues. » En utilisant la barre d’outils  <a href="http://www.kaply.com/weblog/operator/">OPÉRATEUR</a> dans Firefox, vous pouvez afficher ces éléments d'information sur des contacts (hCard) et des lieux (geo). C'est un moyen simple et rapide d'exporter toutes les coordonnées disponibles vers votre carnet d'adresses, d’apposer un signet sur un endroit dans Google Maps ou MapQuest, ou de télécharger le dossier KML pour vivre une expérience interactive dans Google Earth. <a href="http://microformats.org/about/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Microfomat feature" border="0" align="top" id="Image8" onmouseover="MM_swapImage('Image8','','http://graphics.ourontario.ca/qmark3.gif',8)" onmouseout="MM_swapImgRestore()" /></a></p>	
		<p>&#160;</p>		
	</div>	
	<div class="right40">  
		<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_govd-searchwidget.gif" width="95" height="95" alt="Gov Docs search widget" /></div>
		<h2>Procurez-vous votre propre gadget logiciel des documents gouvernementaux qui vous suit partout…</h2>
		
		<p>Our Ontario offre aussi un <b>gadget logiciel</b> pour les documents du gouvernement de l'Ontario. Copiez et collez le gadget logiciel du site des documents gouvernementaux  <a href="http://govdocs.ourontario.ca/govdocsgadgetlogiciel.html">ici</a>. Copiez le code fourni et vous pourrez déposer ce gadget logiciel à portée définie dans votre page Facebook, votre site Web institutionnel, votre blogue ou tout autre espace social.<a href="aide#widgets"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Search Widget" border="0" align="top" id="Image11" onmouseover="MM_swapImage('Image11','','http://graphics.ourontario.ca/qmark3.gif',11)" onmouseout="MM_swapImgRestore()" /></a></p>		
		<p>&#160;</p>
	</div>			
	<div class="left40">  
		<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_data_explorer.gif" width="94" height="66" alt="Data Explorer feature" /></div>
		<h2>RDFa : le Web sémantique, activé</h2>
		
		<p>&#171; <a href="http://rdfa.info/">RDFa</a> est une composante de l'<a href="http://www.w3.org/TR/xhtml-rdfa-primer/">initiative du Web sémantique W3C</a> qui a pour but de transformer le texte et les liens lisibles par les êtres humains en données lisibles par une machine, sans en répéter le contenu &#187; (<a href="http://www.ourontario.ca/videotest.html#rdfa">visualiser la vidéo d’introduction</a>). Un conseil : copiez l’URL de vos résultats de recherche dans un outil compatible avec RDFa comme l'<a href="http://demo.openlinksw.com/rdfbrowser2/">Explorateur de données OpenLink.</a> <a href="http://www.w3.org/TR/xhtml-rdfa-primer/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Explore RDFa" border="0" align="top" id="Image9" onmouseover="MM_swapImage('Image9','','http://graphics.ourontario.ca/qmark3.gif',9)" onmouseout="MM_swapImgRestore()" /></a></p>		
		<p>&#160;</p>
		
	</div>	
	<div class="right40"> 
		<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_exports.gif" width="90" height="90" alt="Metadata export options" /></div>	
		<h2>Faites l’essai de notre exportateur de métadonnées</h2> 			
		<p>Laissez libre cours à votre créativité : n’hésitez pas à réutiliser et à recombiner les résultats sous forme de métadonnées d’OurOntario.ca. Vous avez le choix, ils peuvent être présentés sous format MODS (<a href="http://search.ourontario.ca/mods?q=trains">mods</a>), Dublin Core (<a href="http://search.ourontario.ca/dc?q=trains">dc</a>) or RDF (<a href="http://search.ourontario.ca/rdf?q=trains">rdf</a>), et d’autres formats seront bientôt disponibles. <a href="aide#export"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Metadata export options" border="0" align="top" id="Image10" onmouseover="MM_swapImage('Image10','','http://graphics.ourontario.ca/qmark3.gif',10)" onmouseout="MM_swapImgRestore()" /></a></p>
		<p>&#160;</p>
	</div>
</div>
<p>&#160;</p>
<div class="clearnav"></div>
<p>&#160;</p>    
<div class="centered">
	<hr />
	<h1>Pour nous voir de plus près…</h1> 
	<h2>Nous vous offrons une  <a href="http://www.ourontario.ca/demo/PortalDemo.html">démonstration</a> (en anglais) accompagnée de liens en direct vers toutes les possibilités qui enrichissent Our Ontario.</h2>
	
</div>

