<xsl:element name="script">
			<xsl:attribute name="type">text/javascript</xsl:attribute>
			<![CDATA[
			function MM_preloadImages() { //v3.0
			var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
			var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
			if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
			}
			function MM_swapImgRestore() { //v3.0
			var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
			}
			
			function MM_findObj(n, d) { //v4.01
			var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
			d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
			if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
			for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
			if(!x && d.getElementById) x=d.getElementById(n); return x;
			}
			
			function MM_swapImage() { //v3.0
			var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
			if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
			}
		]]>
		</xsl:element>
		<div class="content"> 	
			<h1>Features </h1>
			<h2>OurOntario.ca &ndash; the "ONE" search,  across Ontario's digital collections and sites...<br />
				and the web tools we've added to make it even easier for you to use!</h2>
			<p>&#160;</p>
		</div>    
		<div class="content1"> 		
			<div class="left40">              
				<div class="icon_holder"></div>
				
				<h3>Visually stunning!</h3>   
			</div>
			<div class="right40">
				<p>&#160;</p> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_ge-logo.png" width="65" height="59" alt="Google Earth" /></div>
				<h2>View results in Google Earth</h2>     
				<p>It's easy to view your search results in Google Earth, plotted in real time and space. Where on earth are your results?<a href="http://www.ourontario.ca/kml.html"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="help with KML" border="0" align="top" id="Image1" onmouseover="MM_swapImage('Image1','','http://graphics.ourontario.ca/qmark3.gif',1)" onmouseout="MM_swapImgRestore()" /></a></p><p>&#160;</p>			
			</div>			
			<div class="left40"> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_cooliris.gif" width="85" height="75" alt="Cooliris logo" /></div>
				
				<h2>Cooliris - Visual browsing</h2>
				<p>View search results in Cooliris &ndash; a 3D Wall that provides a new way to search and view thousands of images.<a href="http://www.cooliris.com/support/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="help with Cool Iris" border="0" align="top" id="Image2" onmouseover="MM_swapImage('Image2','','http://graphics.ourontario.ca/qmark3.gif',2)" onmouseout="MM_swapImgRestore()" /></a></p>
				<p>&#160;</p>			
			</div>
			<div class="right40"> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_mediastream.gif" width="85" height="71" alt="Flock stream" /></div>
				<h2>Flock's Media Stream viewer</h2>
				<p>MediaRSS is a media extension to the RSS feed approach. See it native in Flock (Windows and Mac).<a href="http://www.flock.com/tour/features.php"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="FLOCK's features" border="0" align="top" id="Image3" onmouseover="MM_swapImage('Image3','','http://graphics.ourontario.ca/qmark3.gif',3)" onmouseout="MM_swapImgRestore()" /></a></p>
				
				<p>&#160;</p>			
			</div>	
		</div>
		<p>&#160;</p>
		<div class="clearfix"></div>
		<p>&#160;</p>
		
		<div class="content2"> 				
			<div class="left40"> 
				<div class="icon_holder"></div>
				<h3>Very useful!</h3> 
			</div>
			<div class="right40">
				
				<p>&#160;</p> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_social.gif" width="90" height="92" alt="Social tagging icon" /></div>
				<h2>Social linking</h2> 
				<p>Immediate active linking and tagging to a wide array of bookmarking and social sharing sites like Digg, Delicious, Facebook, Twitter and others. Please  share us!  <a href="http://search.ourontario.ca/help#social"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Social bookmarking" border="0" align="top" id="Image4" onmouseover="MM_swapImage('Image4','','http://graphics.ourontario.ca/qmark3.gif',4)" onmouseout="MM_swapImgRestore()" /></a> </p>
				<p>&#160;</p>
			</div>					
			<div class="left40"> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_zotero.gif" width="90" height="90" alt="Zotero citation tool" /></div>
				<h2>Doing research? Manage your citations with Zotero</h2>
				
				<p>"The next-generation research tool - your own personal research assistant inside your browser.   See it. Save it. Sort it. Search it. Cite it.   Goodbye 3x5 cards, hello Zotero." Citation Management using unAPI + zotero serves up standard metadata records in MODS or Dublin Core and works where you do... in Windows/Mac/Linux. <a href="http://www.zotero.org/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="FLOCK's features" border="0" align="top" id="Image6" onmouseover="MM_swapImage('Image6','','http://graphics.ourontario.ca/qmark3.gif',6)" onmouseout="MM_swapImgRestore()" /></a></p>			
				<p>&#160;</p>	
			</div>	
			<div class="right40"> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_opensearch.gif" width="90" height="93" alt="Opensearch" /></div>
				<h2>Make "OurOntario.ca" into "Your Search" in the browser bar</h2>
				<p>The autodiscoverable Search Engine plug-in works in most modern browsers (Firefox, Internet Explorer, Chrome). Now you can have a direct browser-bar search. <a href="http://www.opensearch.org/Documentation/Frequently_asked_questions"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="OpenSearch Engine" border="0" align="top" id="Image5" onmouseover="MM_swapImage('Image5','','http://graphics.ourontario.ca/qmark3.gif',5)" onmouseout="MM_swapImgRestore()" /></a></p>			
				<p>&#160;</p>
			</div>
			
			
		</div>	
		
		<p>&#160;</p>
		<div class="clearfix"></div>
		<p>&#160;</p>
		
		<div class="content3"> 			
			<div class="left40"> 
				<div class="icon_holder"></div>
				<h3>Dig a little deeper</h3> 
			</div>
			<div class="right40"> 
				<p>&#160;</p> 
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_searchwidget.gif" width="95" height="95" alt="Search widget" /></div>
				<h2>Copy &amp; paste a little bit of code</h2>
				<p>Take the OurOntario.ca <b>Search Widget</b> with you. Grab the search widget for the Our Ontario site <a href="http://www.ourontario.ca/demo/searchwidget.html">from here</a>. &#34;Copy&#34; the code provided and you'll be able to &#34;paste&#34; the search widget into your Facebook page, institutional website, blog or any social space.<a href="http://search2.ourontario.ca/help#widgets"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Search Widget" border="0" align="top" id="Image7" onmouseover="MM_swapImage('Image7','','http://graphics.ourontario.ca/qmark3.gif',7)" onmouseout="MM_swapImgRestore()" /></a></p>
					<p>&#160;</p>
			</div>	
			<div class="left40"> 		
				<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_microformats.gif" width="95" height="95" alt="Microfomat feature" /></div>
				
				<h2>Expose the Microformats</h2>
				<p>"<a href="http://microformats.org/about/">Microformats</a> are a set of simple, open data formats built upon existing and widely adopted standards."  Using the <a href="http://www.kaply.com/weblog/operator/">OPERATOR</a> toolbar in Firefox you can expose these bits of Contact (hCard) and Location (geo) information. It's a quick and easy way to export all the available contact information to your address book, tag a location in Google Maps or MapQuest, or download the KML file for an interactive Google Earth experience.<a href="http://microformats.org/about/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Microfomat feature" border="0" align="top" id="Image8" onmouseover="MM_swapImage('Image8','','http://graphics.ourontario.ca/qmark3.gif',8)" onmouseout="MM_swapImgRestore()" /></a></p>	
				<p>&#160;</p>		
			</div>	
			<div class="right40">  
				<div class="icon_holder"><img src="http://graphics.ourontario.ca/icon2_govd-searchwidget.gif" width="95" height="95" alt="Gov Docs search widget" /></div>
				<h2>Get your own Gov Docs widget to go...</h2>
				<p>Our Ontario also provides a <b>Search Widget</b> for the Ontario Government Documents. Copy and paste the search widget for the Gov Docs site <a href="http://govdocs.ourontario.ca/govdocsearchwidget.html">from here</a>. Copy the code provided and you'll be able to drop this scoped search widget into your  Facebook page, institutional website,  blog or any other social space.<a href="http://search2.ourontario.ca/help#widgets"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Search Widget" border="0" align="top" id="Image11" onmouseover="MM_swapImage('Image11','','http://graphics.ourontario.ca/qmark3.gif',11)" onmouseout="MM_swapImgRestore()" /></a></p>		
				<p>&#160;</p>
			</div>			
			<div class="left40">  
				<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_data_explorer.gif" width="94" height="66" alt="Data Explorer feature" /></div>
				<h2>RDFa: the semantic web, enabled</h2>
				<p>&#34;<a href="http://rdfa.info/">RDFa</a> is a component of the <a href="http://www.w3.org/TR/xhtml-rdfa-primer/">W3C Semantic Web initiative</a> aimed at turning the existing human-visible text and links into machine-readable data without repeating content" (<a href="http://www.ourontario.ca/videotest.html#rdfa">view the video Primer</a>). Hint - copy your Search Results URL into an RDFa enabled tool like<a href="http://demo.openlinksw.com/rdfbrowser2/"> OpenLink's Data Explorer.</a> <a href="http://www.w3.org/TR/xhtml-rdfa-primer/"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Explore RDFa" border="0" align="top" id="Image9" onmouseover="MM_swapImage('Image9','','http://graphics.ourontario.ca/qmark3.gif',9)" onmouseout="MM_swapImgRestore()" /></a></p>		
				<p>&#160;</p>
				
			</div>	
			<div class="right40"> 
				<div class="icon_holder supported_sites"><img src="http://graphics.ourontario.ca/icon2_exports.gif" width="90" height="90" alt="Metadata export options" /></div>	
				<h2>Try out our metadata export</h2> 			
				<p> Get creative - go ahead and reuse/mash up the OurOntario.ca metadata output. It's available in your choice of MODS (<a href="http://search.ourontario.ca/mods?q=trains">mods</a>), Dublin Core (<a href="http://search.ourontario.ca/dc?q=trains">dc</a>) or RDF (<a href="http://search.ourontario.ca/rdf?q=trains">rdf</a>) - and more formats are coming. <a href="http://search.ourontario.ca/help#export"><img src="http://graphics.ourontario.ca/qmark2.gif" alt="Metadata export options" border="0" align="top" id="Image10" onmouseover="MM_swapImage('Image10','','http://graphics.ourontario.ca/qmark3.gif',10)" onmouseout="MM_swapImgRestore()" /></a></p>
				
				<p>&#160;</p>
			</div>
		</div>
		<p>&#160;</p>
		<div class="clearnav"></div>
		<p>&#160;</p>    
		<div class="centered">
			<hr />
			<h1>See us in more detail...</h1> 
			<h2>We offer a <a href="http://www.ourontario.ca/demo/PortalDemo.html">demonstration</a> with live links to all of the features enriching Our Ontario.</h2>
			
		</div>
		
	