{% load static %}
<div class="content copyright clearfix">
    <div class="clearfix" id="page_end"></div>
    <div class="full_footer">
        {{ site_values.footer|safe }}
        <div class="odw_brand">
            <p>
            <img src="https://images.ourontario.ca/static/img/ODWtree_logo_grey_85.png" alt="OurDigitalWorld Logo"><br>
            &copy; {% now "Y" %} &nbsp; Powered by / Alimenté par <br>
            <a href="https://ourdigitalworld.net">OurDigitalWorld</a></p>
	    </div>
    </div>
</div>