{% load static %}
<head>
	<title>{{ pageName }}: {{ site_values.site_name }}</title>
	<meta name="author" content="{{ site_values.site_name }}" >
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css'%}" >
	<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css'%}" >
	<link rel="stylesheet" type="text/css" href="{{ site_values.branding_css }}" >
	<link rel="shortcut icon" href="{{ site_values.Favicon }}" type="image/x-icon" >
    {% include "Portal/snippets/google_analytics.html" %}
 {% if header == "carousel" %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jcarousel.basic.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "css/OurOntHeader_search.css"%}">
	<script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jcarousel.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/jcarousel.basic.js"%}"></script>

	<script type="text/javascript">
	$(function() {
    	$('.jcarousel')
    		.jcarousel({
			    // Core configuration goes here
			  	wrap: 'circular'
        	})
       		.jcarouselAutoscroll({
            	interval: 3000,
            	target: '+=1',
            	autostart: true
        	})
    	;
	});
	</script>

  {% endif %}
</head>