<ul class="clearfix noprint " id="browse_{{ site_values.language }}">
	<li>
		<a class="browse-audio_{{ site_values.language }}" href="results?mt=audio">browse audio</a>
	</li>
	<li>
		<a class="browse-collection_{{ site_values.language }}" href="results?mt=collection">browse collections</a>
	</li>
	<li>
		<a class="browse-images_{{ site_values.language }}" href="mediatype?mt=image">browse images</a>

	</li>
	<li>
		<a class="browse-object_{{ site_values.language }}" href="results?mt=object">browse objects</a>
	</li>
	<li>
		<a class="browse-text_{{ site_values.language }}" href="mediatype?mt=text">browse text</a>
	</li>
	<li>
		<a class="browse-video_{{ site_values.language }}" href="results?mt=video">browse video</a>
	</li>
</ul>