<ul class="clearfix noprint " id="browse_{{ site_values.language }}">
	<li>
		<a class="browse-audio_{{ site_values.language }}" href="results?mt=Audio">browse audio</a>
	</li>
	<li>
		<a class="browse-collection_{{ site_values.language }}" href="results?mt=Collection">browse collections</a>
	</li>
	<li>
		<a class="browse-exhibit_{{ site_values.language }}" href="results?mt=Exhibit">browse exhibits</a>
	</li>
	<li>
		<a class="browse-genealogy_{{ site_values.language }}" href="results?mt=Genealogical+Resource">browse genealogy</a>
	</li>
	<li>
		<a class="browse-group_{{ site_values.language }}" href="results?mt=Group">browse groups</a>
	</li>
	<li>
		<a class="browse-images_{{ site_values.language }}" href="mediatype?mt=Image">browse images</a>
	</li>
	<li>
		<a class="browse-newspaper_{{ site_values.language }}" href="results?mt=Newspaper">browse newspapers</a>
	</li>
	<li>
		<a class="browse-object_{{ site_values.language }}" href="results?mt=Object">browse objects</a>
	</li>
	<li>
		<a class="browse-organization_{{ site_values.language }}" href="results?mt=Organization">browse organizations</a>
	</li>
	<li>
		<a class="browse-place_{{ site_values.language }}" href="results?mt=Place">browse places</a>
	</li>
	<li>
		<a class="browse-publication_{{ site_values.language }}" href="results?mt=Publication">browse publications</a>
	</li>
	<li>
		<a class="browse-ship_{{ site_values.language }}" href="results?mt=Ship">browse ships</a>
	</li>
	<li>
		<a class="browse-shipdoc_{{ site_values.language }}" href="results?mt=Ship+Document">browse ship documents</a>
	</li>	
	<li>
		<a class="browse-text_{{ site_values.language }}" href="mediatype?mt=Text">browse texts</a>
	</li>
	<li>
		<a class="browse-video_{{ site_values.language }}" href="results?mt=Video">browse videos</a>
	</li>
	<li>
		<a class="browse-website_{{ site_values.language }}" href="results?mt=Website">browse websites</a>
	</li>
</ul>