<ul class="clearfix noprint " id="browse_{{ site_values.language }}">
	<li>
		<a class="browse-audio_{{ site_values.language }}" href="results?mt=Audio">{{site_language.AdvLabelMediaAudio}}</a>
	</li>
	<li>
		<a class="browse-images_{{ site_values.language }}" href="mediatype?mt=Image">{{site_language.AdvLabelMediaImage}}</a>
	</li>
	<li>
		<a class="browse-text_{{ site_values.language }}" href="mediatype?mt=Text">{{site_language.AdvLabelMediaText}}</a>
	</li>
	<li>
		<a class="browse-ship_{{ site_values.language }}" href="results?mt=Ship">{{site_language.AdvLabelMediaShip}}</a>
	</li>
	<li>
		<a class="browse-shipdoc_{{ site_values.language }}" href="results?mt=Ship+Document">{{site_language.AdvLabelMediaShipDocs}}</a>
	</li>	
	<li>
		<a class="browse-video_{{ site_values.language }}" href="results?mt=Video">{{site_language.AdvLabelMediaVideo}}</a>
	</li>
	<li>
		<a class="browse-website_{{ site_values.language }}" href="results?mt=Website">{{site_language.AdvLabelMediaWebsite}}</a>
	</li>
</ul>